<a href="https://colab.research.google.com/github/gustikresna/purwadhika-assignment/blob/main/Copy_of_Modul_3_Exercise_6_Simple_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
# read the data
volunteer = pd.read_csv('volunteer_opportunities.csv')
volunteer

     opportunity_id  content_id  vol_requests  ...  BIN BBL  NTA
0              4996       37004            50  ...  NaN NaN  NaN
1              5008       37036             2  ...  NaN NaN  NaN
2              5016       37143            20  ...  NaN NaN  NaN
3              5022       37237           500  ...  NaN NaN  NaN
4              5055       37425            15  ...  NaN NaN  NaN
..              ...         ...           ...  ...  ...  ..  ...
660            5640       50193             3  ...  NaN NaN  NaN
661            5218       38711            10  ...  NaN NaN  NaN
662            5541       47820             1  ...  NaN NaN  NaN
663            5398       40722             2  ...  NaN NaN  NaN
664            5507       44303             5  ...  NaN NaN  NaN

[665 rows x 35 columns]

In [ ]:
volunteer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   opportunity_id      665 non-null    int64
 1   content_id          665 non-null    int64
 2   vol_requests        665 non-null    int64
 3   event_time          665 non-null    int64
 4   title               665 non-null    object
 5   hits                665 non-null    int64
 6   summary             665 non-null    object
 7   is_priority         62 non-null     object
 8   category_id         617 non-null    float64
 9   category_desc       617 non-null    object
 10  amsl                0 non-null      float64
 11  amsl_unit           0 non-null      float64
 12  org_title           665 non-null    object
 13  org_content_id      665 non-null    int64
 14  addresses_count     665 non-null    int64
 15  locality            595 non-null    object
 16  region              665 non-null    object
 17  postalcode          659 non-null    float64
 18  primary_loc         0 non-null      float64
 19  display_url         665 non-null    object
 20  recurrence_type     665 non-null    object
 21  hours               665 non-null    int64
 22  created_date        665 non-null    object
 23  last_modified_date  665 non-null    object
 24  start_date_date     665 non-null    object
 25  end_date_date       665 non-null    object
 26  status              665 non-null    object
 27  Latitude            0 non-null      float64
 28  Longitude           0 non-null      float64
 29  Community Board     0 non-null      float64
 30  Community Council   0 non-null      float64
 31  Census Tract        0 non-null      float64
 32  BIN                 0 non-null      float64
 33  BBL                 0 non-null      float64
 34  NTA                 0 non-null      float64
dtypes: float64(13), int64(8), object(14)
memory usage: 182.0+ KB

In [ ]:
volunteer.isna().sum()

opportunity_id          0
content_id              0
vol_requests            0
event_time              0
title                   0
hits                    0
summary                 0
is_priority           603
category_id            48
category_desc          48
amsl                  665
amsl_unit             665
org_title               0
org_content_id          0
addresses_count         0
locality               70
region                  0
postalcode              6
primary_loc           665
display_url             0
recurrence_type         0
hours                   0
created_date            0
last_modified_date      0
start_date_date         0
end_date_date           0
status                  0
Latitude              665
Longitude             665
Community Board       665
Community Council     665
Census Tract          665
BIN                   665
BBL                   665
NTA                   665
dtype: int64

## Missing data - rows

We want to drop rows where the category_desc column values are missing. We're going to do this using boolean indexing, by checking to see if we have any null values, and then filtering the dataset so that we only have rows with those values.

In [ ]:
# Check how many values are missing in the category_desc column using isnull() and sum().
print(volunteer['category_desc'].isnull().sum())

# Subset the volunteer dataset by indexing by where category_desc is notnull(), and store in a new variable called volunteer_subset.
volunteer_subset = volunteer[volunteer['category_desc'].notnull()]

# Print out the shape of the subset
print(volunteer_subset.shape)

48
(617, 35)

## Converting a column type

If you take a look at the volunteer dataset types, you'll see that the column hits is type object. But, if you actually look at the column, you'll see that it consists of integers. Let's convert that column to type int.

In [ ]:
# Print the head of the hits column
print(volunteer["hits"].head())

# Use the .astype function to convert the column to type int.
volunteer["hits"] = volunteer['hits'].astype(int)

# Take a look at the dtypes of the dataset again, and notice that the column type has changed
print(volunteer.dtypes)

0    737
1     22
2     62
3     14
4     31
Name: hits, dtype: int64
opportunity_id          int64
content_id              int64
vol_requests            int64
event_time              int64
title                  object
hits                    int64
summary                object
is_priority            object
category_id           float64
category_desc          object
amsl                  float64
amsl_unit             float64
org_title              object
org_content_id          int64
addresses_count         int64
locality               object
region                 object
postalcode            float64
primary_loc           float64
display_url            object
recurrence_type        object
hours                   int64
created_date           object
last_modified_date     object
start_date_date        object
end_date_date          object
status                 object
Latitude              float64
Longitude             float64
Community Board       float64
Community Council     float64
Census Tract          float64
BIN                   float64
BBL                   float64
NTA                   float64
dtype: object

## sampling

In [ ]:
# Import modul train_test_split
from sklearn.model_selection import train_test_split

# Create a volunteer_X dataset with all of the columns except category_desc.
volunteer_X = volunteer.drop(['category_desc'], axis=1)

# Create a category_desc labels dataset
volunteer_y = volunteer[['category_desc']]

# Split up the volunteer_X dataset using scikit-learn's train_test_split function and passing 0.2 into the test_size = parameter.
X_train, X_test, y_train, y_test = train_test_split(volunteer_X, volunteer_y, test_size=0.2)

# Print out the category_desc counts on the training y labels
print(y_train['category_desc'].value_counts())

Strengthening Communities    248
Helping Neighbors in Need     95
Education                     73
Health                        35
Environment                   27
Emergency Preparedness        11
Name: category_desc, dtype: int64